<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }
        tr:nth-child(even) {
        background-color: #dddddd;
        }
        .row:after {
        content: "";
        display: table;
        clear: both;
        }
        .column {
        float: left;
        width: 30%;
        padding: 10px;
        }
    </style>
</head>
<body>
<form action="viewgraph" method="post">
    {% csrf_token %}
    <table style="font-family: arial, sans-serif; border-collapse: collapse; width:100%;">
        <th></th>
        {% for c in column_name %}
        <th>{{c}}</th>
        {% endfor %}
        {% for row in column_name.itertuples %}
        <tr>
            <!--<input type="radio" name="xaxis" value={{c}}>-->
            {% for c in row %}
            <td>{{c}}</td>
            {% endfor %}

            <!--</input>-->
        </tr>
        {% endfor %}
    </table>
<div class="row">
    <div class="column">
    <p>Select value for X axis</p>
    {% for c in column_name %}
    <input name="xaxis" type="radio" value={{forloop.counter}}>
    {{c}}
    </input><br>
    {% endfor %}
    </div>
    <div class="column">
    <p>Select value for Y axis</p>
    {% for c in column_name %}
    <input name="yaxis" type="radio" value={{forloop.counter}}>
    {{c}}
    </input><br>
    {% endfor %}
    </div>
    <div class="column">
    <p>Select unique column</p>
    {% for c in column_name %}
    <input name="unique" type="radio" value={{forloop.counter}}>
    {{c}}
    </input><br>
    {% endfor %}
    </div>
    </div>
    <br><input type="submit" value="View Graph"/>
</form>
</body>
</html>